/* ================================================================
   자체 커스텀한 부분
   ================================================================ */
.hide {
  display: none;
}

.open-new {
  cursor: pointer;
}

$indent-var: 1em;

.page__content p {
  margin: 0 0 $indent-var;
  text-indent: $indent-var;
  // sibling indentation
  & + p {
    margin-top: -($indent-var);
  }
}
